<div class="row">
    <div *ngFor="let gif of resultados" 
        class="col-md-4 col-sm-6 d-flex mb-3 animate__animated animate__fadeIn">
        <div class="card flex-fill" style="width: 18rem;">
            <img [src]="gif.images.downsized_medium.url" 
                 [alt]="gif.title"
                 class="card-img-top">
            <div class="card-body">
                <p class="card-title">
                    {{ gif.title | titlecase}}
                </p>
            </div>
        </div>
    </div>
</div>
